.investment{
    height: 100%;
    width: 100%;
    display: flex;
    overflow:hidden;
    justify-content: center;
    text-align: center;
}


.investmentSec .header h1{
    padding: 50px;
    font-size: 45px;
    color: white;
}

.investment .cardCon{
    display: flex;
    justify-content: center;
   
    flex-wrap: wrap;
    gap: 25px;
    text-align: center;
}

.investment .card{
    height: 100%;
    width: 250px;
    padding: 0px 0px 30px 0px;
    color: white;
    transition: .2s;
    border-radius: 10px;
    background: hsl(240 55% 17%);
}

.investment .card:hover{
    scale: 1.05;
}

.card .body{
    padding: 20px;
}

.card .head{
    background:linear-gradient(90deg, hsl( 258 66% 45%)  36.85%, hsl(258 97% 35%) 60.47%);
    padding: 20px 35px;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.card .head p{
    font-size: 17px;
}

.card .head h1{
    font-size: 40px;
    font-weight: 700;
}

.card .head h2{
    font-weight: 500;
    font-size: 22px;
}

.card .body .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
} 

.card .body .top p{
    border-left: solid 1px hsl(0 0% 100% /.1);
    padding-left: 5px;
}

.card .body .bottom p{
    font-size: 18px;
    border-top: solid 1px  hsl(0 0% 100% /.1);
    padding: 15px 0px;
}

.card .body button{
    font-size: 16px;
    margin-top: 30px;
    background: transparent;
    padding: 10px 30px;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    outline: none;
    border: solid 1px hsl( 258 66% 45%);
    transition: .2s;
}

.card .body button:hover{
    border: none;
    background:linear-gradient(90deg, hsl( 258 66% 45%)  36.85%, hsl(258 97% 35%) 60.47%);
}

.card .body .bottom span{
    font-size: 10px;
    padding: 3px 15px;
    color: greenyellow;
    border-radius: 20px;
    border: 1px solid greenyellow;
    background-color: transparent;
}
