.Main-AboutUs{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.AboutUs-Sec header{
    height: 100%;
    width: 100%;
}

.AboutUs-Sec .headerCon{
    background-image: url(../../images/topper2.png);
    z-index: 1567;
    height: 330px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
   
}

.AboutUs-Sec .headerCon .text{
   padding-left: 9.5%;
   transform: translateY(150%);
}

.AboutUs-Sec .headerCon::before{
    content: '';
    height: 100%;
    width: 100%;
    background-image: url(../../images/topper1.png);
    z-index: -1567;
    position: absolute;
    background-position: center;
    transform: translateY(-7%);
    background-repeat: no-repeat;
    background-size: cover;
}

.AboutUs-Sec .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 0px;
    z-index: -67;
    padding: 0px 50px;
    
}

.AboutUs-Sec .top div img{
    animation: swing 7s infinite ease-in-out; 

}

.AboutUs-Sec .content{
    display: flex;
    justify-content: center;
    padding: 50px 100px;
    color: white;
    align-items: center;
    gap: 20px;
    
}

.AboutUs-Sec .content ul li{  
    margin: 20px;
    font-size: 16px;
    color: rgba(225, 225, 225, .8);
  
}

.AboutUs-Sec .content ul li span{
    font-size: 18px;
    font-weight: 500;
    margin-right: 15px;
    line-height: 25px;
 
}

.AboutUs-Sec .content p{
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}

.AboutUs-Sec .content h1{
    font-size: 40px;
    font-weight: 600;
}

.AboutUs-Sec .content .header h2{
    background: linear-gradient(90deg, hsl( 258 66% 45%)  36.85%, hsl(258 97% 35%) 60.47%);
    padding: 10px 30px 10px 10px;
    width: fit-content;
    text-align: start;
    align-items: start;
    border-radius: 20px;
    font-size: 15px;
    border: none;
    outline: none;
   
}

.AboutUs-Sec .content .left, .AboutUs-Sec .content .right{
    width: 50%;
}

.AboutUs-Sec .content .left img{
    height: 450px;
}




@keyframes swing {
    0%{
        transform: rotate(-10deg);
    }

    50%{
        transform: rotate(20deg);
    }

    100%{
            transform: rotate(-10deg);
    }
}

@media (max-width:1100px) {
    .AboutUs-Sec .content .left img{
        height: 380px;
    }

    .AboutUs-Sec .content{
        padding-left: 50px;
        padding-right: 50px;
        gap: 10px;
    }

    .AboutUs-Sec .content h1{
        font-size: 35px;
    }

    .AboutUs-Sec .content p{
        font-size: 19px;
    }
}

@media (max-width:1015px) {
    .AboutUs-Sec .content{
        flex-wrap: wrap-reverse;
        justify-content: center;
        align-items: start;
    }

    .AboutUs-Sec .content .right, .AboutUs-Sec .content .left{
        width: 100%;
    }

    .AboutUs-Sec .content .left img{
        height: 400px;
       
    }

    .AboutUs-Sec .top{
        display: none;
    }
}

@media (max-width:500px) {
    .AboutUs-Sec .content .left img{
        height: 300px;
    }
}