nav{
    height: 100%;
    width: 100%;
    padding: 18px 0px 0px 0px;
    display: flex;
    overflow:hidden;
    justify-content: center;
    align-items: center;
}

.Navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    left: 0;
    padding-top: 30px;
    right: 0;
    z-index: 567890;
}

.Navbar .left h1{
    font-weight: 700;
    font-size: 1.7rem;
    align-items: center;
    padding-top: 20px;
}

.Navbar .left h1 span{
    background:  linear-gradient( 90deg, hsl( 258 66% 45%)  36.85%, hsl(258 97% 35%) 60.47%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
}

.Navbar .middle ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    font-weight: 500;
    font-size: 1.125rem;
}

.Navbar .middle ul li .links{
    color: white;
    transition: .2s;
}

.Navbar .middle ul li .links:hover{
    color: hsl( 258 66% 45%);
}

.Navbar .right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.Navbar .right button{
    padding: 5px 20px;
    border-radius: 3px;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
    background: linear-gradient(90deg, hsl( 258 66% 45%)  36.85%, hsl(258 97% 35%) 60.47%);
}

.hamburgerIcon{
    color: white;
    font-size: 1.7rem;
    display: none;
    cursor: pointer;
}

@media (max-width:1015px) {
    .Navbar .middle ul, .Navbar .right{
        display: none;
    }

    .Navbar{
        justify-content: space-around;
        padding: 0px 8px 0px 0px;
    }

    .Navbar{
         background-color:hsl(242 63% 12%) ;
        top: 0;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    }

    .hamburgerIcon{
        display: block;
    }

    .Navbar .left h1{
        font-size: 1.5rem;
    }
}
